
#root{
    background-color:rebeccapurple;
    color:white;
}

.nav-link{
    color:white;
    decoration:none;
    border: 1px solid white;
    padding: 1em;
}

.golinks .message{
   font-size:10px;
}



